body{
    background-color: #eceff1;
}

button{
    margin-bottom: 20px;
}

input{
    margin-bottom: 20px;
}

img{
    max-width : 220px;
    max-height:105px;
    width: auto;
    height: auto;
}

#formulario{
    margin-top: 5vh;
}